
#include "resource.h"


// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1			ICON	DISCARDABLE		"q2.ico"

// shader resources	belong in the Reflib but must be embedded in the main .exe to load successfully
// these are given a ".shader" extension to prevent VS from trying to compile them
IDR_BEAMSHADER		RCDATA		"fxBeam.shader"
IDR_DRAWSHADER		RCDATA		"fxDraw.shader"
IDR_MESHSHADER		RCDATA		"fxMesh.shader"
IDR_NULLSHADER		RCDATA		"fxNull.shader"
IDR_PARTSHADER		RCDATA		"fxParticles.shader"
IDR_SPRITESHADER	RCDATA		"fxSprite.shader"
IDR_SURFSHADER		RCDATA		"fxSurf.shader"
IDR_SKYSHADER		RCDATA		"fxSky.shader"
IDR_WATERWARP		RCDATA		"fxWaterwarp.shader"

IDR_COMMON			RCDATA		"fxCommon.shader"

