
#include "resource.h"


// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1			ICON	DISCARDABLE		"q2.ico"

// shader resources	belong in the Reflib but must be embedded in the main .exe to load successfully
IDR_DRAWSHADER		RCDATA		"../Renderer/fxDraw.fx"
IDR_MESHSHADER		RCDATA		"../Renderer/fxMesh.fx"
IDR_MISCSHADER		RCDATA		"../Renderer/fxMisc.fx"
IDR_SURFSHADER		RCDATA		"../Renderer/fxSurf.fx"
IDR_WATERWARP		RCDATA		"../Renderer/fxWaterwarp.fx"

IDR_COMMON			RCDATA		"../Renderer/fxCommon.fx"

